@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 17.5px;
    font-family: "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
  }
}
